<html>
<head>
 <title>{{title}}</title>
</head>
<body>
<table>
{% for s in fs.selected: %}
{%   set f = fs.cache.funds[s] %}
<tr><td>{{f}}</td>
{%   for d, c in fs.computers %}
{%     set stat = c.indicators(s) %}
{%     set content = stat.summary() if stat.model else "-" %}
{%     set bgcolor = "red" if stat.day_return > day_ret_threshold else "grey" %}
<td style="background-color:{{bgcolor}};">{{content}}</td>
{%   endfor %}
</tr>
{% endfor %}
</table>
<pre style="font-size: 12px; font: Courier New; color: silver; background: black;">{{result}}</pre>
</body>
</html>
